<div class="taskbar">
        <div class="boxb">
		<!--
                [websvn:revision_form]
                [lang:REV] [websvn:revision_hidden][websvn:revision_input]
                [websvn:revision_submit]
                [websvn:revision_endform]
		-->
        </div>

	<div class="boxa">
		<a href="[websvn:codepot_userhomeurl]">[lang:HOME]</a> 
		<a href="[websvn:codepot_projectlisturl]">[lang:PROJECTS]</a> 
	</div>
</div>

<div class="projectbar">
	<div class="title">[websvn:repname]</div>
	<div class="ctxmenu">&nbsp;</div>
	<div class="fixedmenu">
		<a href="[websvn:codepot_indexurl]">[lang:PROJECTS]</a> 
		<a href="[websvn:codepot_wikiurl]">[lang:WIKI]</a>
		<a href="[websvn:codepot_sourceurl]">[lang:SOURCE]</a>
		<a href="[websvn:codepot_fileurl]">[lang:FILES]</a>
	</div>
</div>

<div class="mainarea">

[websvn-test:noaccess]
   [lang:NOACCESS]
[websvn-else]

<div class="title">[lang:COMPAREREVS]</div>

<div class="menu">[websvn:revlink]</div>

<div style="margin-top: 0.5em">
[lang:CONVFROM]
[websvn:path1] 
from [lang:REV] [websvn:rev1] to [lang:REV] [websvn:rev2].

</div>

<div style="margin-top: 1em">
	[websvn:compare_form]
	<dt>
	<li>[lang:COMPPATH] [websvn:compare_path1input] Rev [websvn:compare_rev1input]</li>
	<li>[lang:WITHPATH] [websvn:compare_path2input] Rev [websvn:compare_rev2input]</li>
	</dt>
	[websvn:compare_submit][websvn:compare_hidden]
	[websvn:compare_endform]
</div>

<div style="margin-top: 1em">
  <h2 class="regular">[lang:REV] [websvn:rev1] &rarr; [lang:REV] [websvn:rev2]</h2>
[websvn-startlisting]

[websvn-test:newpath]
    <div class="newpath">
    <a href="[websvn:fileurl]"><strong>[websvn:newpath]</strong></a>
[websvn-endtest]

[websvn-test:info]
    [websvn:info]
[websvn-endtest]

[websvn-test:difflines]
    <div class="difflines">
    <strong>[websvn:rev1line],[websvn:rev1len] &rarr; [websvn:rev2line],[websvn:rev2len]</strong>
    <table class="diff">
[websvn-endtest]   

[websvn-test:diffclass]
    <tr><td class="[websvn:diffclass]">[websvn:line]</td></tr>
[websvn-endtest]

[websvn-test:enddifflines]
</table>
</div>
[websvn-endtest]

[websvn-test:endpath]
</div>
[websvn-endtest]

[websvn-test:properties]
    [lang:PROPCHANGES]
[websvn-endtest]

[websvn-endlisting]
</div>
[websvn-endtest]

</div> <!-- mainarea -->
