<div class="taskbar">
        <div class="boxb">
                [websvn:revision_form]
                [lang:REV] [websvn:revision_hidden][websvn:revision_input]
                [websvn:revision_submit]
                [websvn:revision_endform]
        </div>

	<div class="boxa">
		<a href="[websvn:codepot_userhomeurl]">[lang:HOME]</a> 
		<a href="[websvn:codepot_projectlisturl]">[lang:PROJECTS]</a> 
	</div>
</div>

<div class="projectbar">
	<div class="title">[websvn:repname]</div>
	<div class="ctxmenu">&nbsp;</div>
	<div class="fixedmenu">
		<a href="[websvn:codepot_indexurl]">[lang:PROJECTS]</a> 
		<a href="[websvn:codepot_wikiurl]">[lang:WIKI]</a> 
		<a href="[websvn:codepot_sourceurl]">[lang:SOURCE]</a> 
		<a href="[websvn:codepot_fileurl]">[lang:FILES]</a> 
	</div>
</div>

[websvn-test:noaccess]
   [lang:NOACCESS]
[websvn-else]

<div class="mainarea">

<div class="sidebar">
	<div class="box">
	<div class="boxtitle">[lang:LASTMOD]</div>
	<ul>
		<li>[lang:REV] [websvn:lastchangedrev] [websvn:date]</li>
		<li><strong>[lang:AUTHOR]:</strong> [websvn:author]</li>
		<li>
			<dl>
				<dt><strong>[lang:LOGMSG]:</strong></dt>
				<dd>[websvn:log]</dd>
			</dl>
		</li>
	</ul>
	</div>
</div> <!-- sidebar -->

<div class="title">
	[websvn:curdirlinks] - [lang:REV] [websvn:rev]
</div>

<div class="menu">
[websvn-test:goyoungesturl]
	<a href="[websvn:goyoungesturl]">[lang:GOYOUNGEST]</a></span> |
[websvn-endtest]

	<a href="[websvn:changesurl]">[lang:CHANGES]</a> |
	<a href="[websvn:logurl]">[lang:VIEWLOG]</a>

[websvn-test:downloadurl]
	| <a href="[websvn:downloadurl]">[lang:TARBALL]</a>
[websvn-endtest]
</div> <!-- menu -->

<div id="websvn_folder_mainarea_result">

[websvn-defineicons]
dir=<img src="[websvn:locwebsvnhttp]/templates/calm/images/folder.png" alt="[FOLDER]" class="icon" />
diropen=<img src="[websvn:locwebsvnhttp]/templates/calm/images/folder.png" alt="[FOLDER]" class="icon" />
*=<img src="[websvn:locwebsvnhttp]/templates/calm/images/file.png" alt="[FILE]" class="icon" />
.c=<img src="[websvn:locwebsvnhttp]/templates/calm/images/filec.png" alt="[C-FILE]" class="icon" />
.h=<img src="[websvn:locwebsvnhttp]/templates/calm/images/fileh.png" alt="[H-FILE]" class="icon" />
.s=<img src="[websvn:locwebsvnhttp]/templates/calm/images/files.png" alt="[S-FILE]" class="icon" />
.db=<img src="[websvn:locwebsvnhttp]/templates/calm/images/filedb.png" alt="[DB-FILE]" class="icon" />
.png=<img src="[websvn:locwebsvnhttp]/templates/calm/images/filepaint.png" alt="[DB-FILE]" class="icon" />
.gif=<img src="[websvn:locwebsvnhttp]/templates/calm/images/filepaint.png" alt="[DB-FILE]" class="icon" />
.bmp=<img src="[websvn:locwebsvnhttp]/templates/calm/images/filepaint.png" alt="[DB-FILE]" class="icon" />
.jpg=<img src="[websvn:locwebsvnhttp]/templates/calm/images/filepaint.png" alt="[DB-FILE]" class="icon" />
.jpeg=<img src="[websvn:locwebsvnhttp]/templates/calm/images/filepaint.png" alt="[DB-FILE]" class="icon" />
.js=<img src="[websvn:locwebsvnhttp]/templates/calm/images/script.png" alt="[DB-FILE]" class="icon" />
.css=<img src="[websvn:locwebsvnhttp]/templates/calm/images/css.png" alt="[DB-FILE]" class="icon" />
.htm=<img src="[websvn:locwebsvnhttp]/templates/calm/images/html.png" alt="[DB-FILE]" class="icon" />
.html=<img src="[websvn:locwebsvnhttp]/templates/calm/images/html.png" alt="[DB-FILE]" class="icon" />
.php=<img src="[websvn:locwebsvnhttp]/templates/calm/images/filephp.png" alt="[DB-FILE]" class="icon" />
.txt=<img src="[websvn:locwebsvnhttp]/templates/calm/images/filetxt.png" alt="[DB-FILE]" class="icon" />
.xml=<img src="[websvn:locwebsvnhttp]/templates/calm/images/filexml.png" alt="[DB-FILE]" class="icon" />

i-node=<img src="[websvn:locwebsvnhttp]/templates/calm/images/i-node.png" alt="[NODE]" class="icon" />
t-node=<img src="[websvn:locwebsvnhttp]/templates/calm/images/t-node.png" alt="[NODE]" class="icon" />
l-node=<img src="[websvn:locwebsvnhttp]/templates/calm/images/l-node.png" alt="[NODE]" class="icon" />
e-node=<img src="[websvn:locwebsvnhttp]/templates/calm/images/e-node.png" alt="[NODE]" class="icon" />
[websvn-enddefineicons]

[websvn:compare_form]
   <table id="websvn_folder_mainarea_result_table">
      <thead>
      <tr class='heading'>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>[lang:PATH]</th>
        [websvn-test:showlastmod]
        <th colspan="3">[lang:LASTMOD]</th>
        [websvn-endtest]
        <th>[lang:NOBR][lang:LOG][lang:ENDNOBR]</th>
      </tr>
      </thead>
      <tbody>
      [websvn-startlisting]
      <tr>
         <td>
            [websvn:compare_box]
         </td>
         <td>
            [websvn-icon]
         </td>
         <td>
            [websvn-treenode]
            [websvn:filelink]
         </td>
         
         [websvn-test:showlastmod]
           <td><a href="[websvn:revurl]">[websvn:revision]</a>&nbsp;</td>
           <td>[websvn:age]</td>
           <td>[websvn:author]</td>
         [websvn-endtest]
         
         <td>[lang:NOBR]<a href="[websvn:logurl]">[lang:VIEWLOG]</a>[lang:ENDNOBR]</td>
      </tr>
      [websvn-endlisting]
    </tbody>

   </table>

    [websvn:compare_submit][websvn:compare_hidden]

[websvn:compare_endform]

</div> <!-- body -->

</div> <!-- mainarea -->


[websvn-endtest]
