<div class="taskbar">
        <div class="boxb">
                [websvn:revision_form]
                [lang:REV] [websvn:revision_hidden][websvn:revision_input]
                [websvn:revision_submit]
                [websvn:revision_endform]
        </div>

	<div class="boxa">
		<a href="[websvn:codepot_userhomeurl]">[lang:HOME]</a> 
		<a href="[websvn:codepot_projectlisturl]">[lang:PROJECTS]</a> 
	</div>
</div>

<div class="projectbar">
	<div class="title">[websvn:repname]</div>
	<div class="ctxmenu">&nbsp;</div>
	<div class="fixedmenu">
		<a href="[websvn:codepot_indexurl]">[lang:PROJECTS]</a> 
		<a href="[websvn:codepot_wikiurl]">[lang:WIKI]</a>
		<a href="[websvn:codepot_sourceurl]">[lang:SOURCE]</a>
		<a href="[websvn:codepot_fileurl]">[lang:FILES]</a>
	</div>
</div>

<div class="mainarea">

[websvn-test:noaccess]
   [lang:NOACCESS]
[websvn-else]


	<div class="title">[websvn:curdirlinks] - [lang:REV] [websvn:rev]</div>

	<div class="menu">
		[websvn-test:goyoungestlink]
		<span class="goyoungest">[websvn:goyoungestlink]</span> |
		[websvn-endtest]
		[websvn:prevdifflink] |
		[websvn:blamelink] |
		[websvn:fileviewloglink]
	</div>

	[websvn-getlisting]

[websvn-endtest]

</div> <!-- mainarea -->
