<div class="taskbar">
        <div class="boxb">
                [websvn:revision_form]
                [lang:REV] [websvn:revision_hidden][websvn:revision_input]
                [websvn:revision_submit]
                [websvn:revision_endform]
        </div>

	<div class="boxa">
		<a href="[websvn:codepot_userhomeurl]">[lang:HOME]</a> 
		<a href="[websvn:codepot_projectlisturl]">[lang:PROJECTS]</a> 
	</div>
</div>

<div class="projectbar">
	<div class="title">[websvn:repname]</div>
	<div class="ctxmenu">&nbsp;</div>
	<div class="fixedmenu">
		<a href="[websvn:codepot_indexurl]">[lang:PROJECTS]</a> 
		<a href="[websvn:codepot_wikiurl]">[lang:WIKI]</a>
		<a href="[websvn:codepot_sourceurl]">[lang:SOURCE]</a>
		<a href="[websvn:codepot_fileurl]">[lang:FILES]</a>
	</div>
</div>

[websvn-test:noaccess]
   [lang:NOACCESS]
[websvn-else]

<div class="mainarea" id="websvn_log_mainarea">

<div class="title">Log messages</div>

<div class="menu" id="websvn_log_mainarea_menu">
	[websvn-test:goyoungestlink]
		[websvn:goyoungestlink] 
	[websvn-endtest]
</div> <!-- menu -->

<div id="websvn_log_mainarea_filter">
<!-- <div class="title">[lang:FILTER]</div> -->

[websvn:logsearch_form]

    	[lang:STARTLOG] [websvn:logsearch_startbox]
    	[lang:ENDLOG] [websvn:logsearch_endbox]
    	[lang:MAXLOG] [websvn:logsearch_maxbox]
        [lang:SEARCHLOG] [websvn:logsearch_inputbox]
	[websvn:logsearch_submit]

	[websvn:logsearch_hidden]

	[websvn-test:logsearch_clearloglink]
		[websvn:logsearch_clearloglink]
	[websvn-endtest]
[websvn:logsearch_endform]

</div> <!-- filter -->

<div id="websvn_log_mainarea_result">

[websvn-test:logsearch_nomatches]
   [lang:NORESULTS]
[websvn-endtest]

[websvn-test:logsearch_resultsfound]
   [websvn:compare_form]
      <table id="websvn_log_mainarea_result_table">
         <thead>
         <tr class="heading">
            <th>&nbsp;</th>
            <th>[lang:REV]</th>
            <th>[lang:LOGMSG]</th>
            <th>[lang:AUTHOR]</th>
            <th>[lang:AGE]</th>
            <th>[lang:PATH]</th>
         </tr>
         </thead>
      
         [websvn-startlisting]
         <tr>
            <td style="width:1%">[websvn:compare_box]</td>
            <td style="width:1%">[websvn:revlink]</td>
            <td>[websvn:revlog]</td>
            <td style="width:1%">[websvn:revauthor]</td>
            <td style="width:1%">[websvn:revage]</td>
            <td style>[websvn:revpathlink]</td>
         </tr>
         [websvn-endlisting]
      </table>
      [websvn:compare_submit][websvn:compare_hidden]
   [websvn:compare_endform]
[websvn-endtest]

[websvn-test:logsearch_nomorematches]
   <p>[lang:NOMORERESULTS]</p>
[websvn-endtest]

</div> <!-- result -->
      
<div id="websvn_log_mainarea_extra">

<p>[websvn:logsearch_moreresultslink]</p>
<p>[websvn:pagelinks]</p>
<p>[websvn:showalllink]</p>

</div>

</div> <!-- mainarea -->
[websvn-endtest]
