
.codepot-issue-start ul.codepot-horizontal-list,
.codepot-issue-change ul.codepot-horizontal-list {
	padding: 0.3em 0 0.3em 0;
}

.codepot-issue-start,
.codepot-issue-change {
	padding: 0.3em 0 0.3em 0;
}

.codepot-issue-change {
	border-top: 1px dashed #EAEAEA;
}

.codepot-issue-start-topline,
.codepot-issue-change-topline {
	background-color: #F5F5F5;
	padding: 0.3em;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	line-height: 1.5em;
}

.codepot-issue-change-date,
.codepot-issue-comment-updater {
	float: left;
}

.codepot-issue-comment-updater {
	margin-left: 0.5em;
}

.codepot-issue-comment-actions {
	float: right;
}

.codepot-issue-comment-action-button {
	font-size: 75% !important;
}

textarea.codepot-issue-edit-comment {

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	border: 0 none;
	width: 100%;
	font-size: 0.9em;
}

/*---------------------------------------------
 * issue home
 *---------------------------------------------*/

#issue_home_result_table tr {
	vertical-align: text-top;
}

#issue_home_result_table tr.new td.status/*,
#issue_home_result_table tr.new td.summary*/ {
	background-color: #ffccbb;
	background-color: rgba(255, 204, 187, 0.5);
}

#issue_home_result_table tr.accepted td.status/*,
#issue_home_result_table tr.accepted td.summary*/ {
}

#issue_home_result_table tr.rejected td.status/*,
#issue_home_result_table tr.rejected td.summary*/ {
	background-color: #ffeedd;
	background-color: rgba(255, 238, 221, 0.5);
}

#issue_home_result_table tr.started td.status/*,
#issue_home_result_table tr.started td.summary*/ {
	background-color: #ddeeff;
	background-color: rgba(221, 238, 255, 0.5);
}

#issue_home_result_table tr.stalled td.status/*,
#issue_home_result_table tr.stalled td.summary*/ {
	background-color: #bbccff;
	background-color: rgba(187, 204, 255, 0.5);
}

#issue_home_result_table tr.resolved td.status/*,
#issue_home_result_table tr.resolved td.summary*/ {
	background-color: #ddffdd;
	background-color: rgba(221, 255, 221, 0.5);
}

#issue_home_result_table tr.other td.status/*,
#issue_home_result_table tr.other td.summary*/ {
	background-color: #ddeeff;
	background-color: rgba(221, 238, 255, 0.5);
}

#issue_home_result_table td.id,
#issue_home_result_table td.type,
#issue_home_result_table td.status,
#issue_home_result_table td.priority,
#issue_home_result_table td.owner {
	width: 1px;
}

#issue_home_result_table td.summary {
	white-space: normal;
}

#issue_home_result_table td.summary:hover {
	background-color: #F0F0F0 !important;
}

#issue_home_result_table td.summary a,
#issue_home_result_table td.summary a:visited,
#issue_home_result_table td.summary a:focus {
	color: inherit;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	font-family: inconsolata, "DejaVu Sans Mono", consolas, monaco, "Andale Mono", monospace;
}

#issue_home_result_pages {
	margin-top: 1em;
	text-align: center;
	width: 100%;
}

#issue_home_search_form {
}

#issue_home_search_form div {
	padding: 0.2em;
}

/*---------------------------------------------
 * issue show
 *---------------------------------------------*/
#issue_show_metadata_list li {
	margin-top: 0.1em;
	margin-bottom: 0.2em;

	background-color: #EAEAEA !important;
	color: #000000 !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#issue_show_state_list,
#issue_show_coderev_list {
	padding-top: 0.3em;
	border-top: 1px dashed #EAEAEA
}

#issue_show_coderev_list {
	margin-top: 2em;
}

#issue_show_coderev_list li:nth-child(1) i {
	color: #BB4533;
}

#issue_show_coderev_list a {
	color: #444444;
	background-color: #CECECE;
	padding: 0.3em;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	filter:alpha(opacity=85); /* IE */
	opacity: 0.85; /* Safari, Opera */
	-moz-opacity:0.85; /* FireFox */
}

#issue_show_change_form {
}

#issue_show_change_form div {
	padding: 0.2em;
}

#issue_show_change_form textarea {
	-moz-box-shadow: 0 2px 4px #bbb inset;
	-webkit-box-shadow: 0 2px 4px #BBB inset;
	box-shadow: 0 2px 4px #BBB inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	border: 0 none;
	width: 100%;
	font-size: 0.9em;
}

#issue_show_files {
	padding-top: 0.5em;
}

#issue_show_changes_strip .infostrip {
	margin-bottom: 0.5em;
}

#issue_show_changes_strip .title {
	float: left;
}

#issue_show_changes {
	overflow: auto;
}


#issue_change_comment_preview_button.ui-button {
	font-size: 0.8em;
}

/*-----------------------------------------------
 * issue home view - new issue dialog
 *-----------------------------------------------*/
#issue_home_new_description_tabs {
	border: none !important;
}

#issue_home_new_description_tabs .ui-tabs-panel {
	padding: 0.2em 0em 0em 0em !important;
}

#issue_home_new_description_tabs .ui-widget-header {
	border: none !important;
	background: none !important;
	padding: 0em !important;
}

#issue_home_new_description_tabs .ui-tabs-nav {
	padding: 0em !important;
}

/* #issue_home_new_description_tabs .ui-tabs-nav li { */
.ui-tabs .ui-tabs-nav li.ui-state-default {
	border-bottom: 1px solid #cccccc !important;
}

.ui-tabs .ui-tabs-nav li.ui-state-active {
	border-bottom: 1px solid #fbd850 !important;
}

/*-----------------------------------------------
 * issue show - edit issue dialog
 *-----------------------------------------------*/
#issue_show_edit_description_tabs {
	border: none !important;
}

#issue_show_edit_description_tabs .ui-tabs-panel {
	padding: 0.2em 0em 0em 0em !important;
}

#issue_show_edit_description_tabs .ui-widget-header {
	border: none !important;
	background: none !important;
	padding: 0em !important;
}

#issue_show_edit_description_tabs .ui-tabs-nav {
	padding: 0em !important;
}

/* #issue_show_edit_description_tabs .ui-tabs-nav li { */
.ui-tabs .ui-tabs-nav li.ui-state-default {
	border-bottom: 1px solid #cccccc !important;
}

.ui-tabs .ui-tabs-nav li.ui-state-active {
	border-bottom: 1px solid #fbd850 !important;
}
