/*----------------------------------------------- 
 * project source folder view 
 *-----------------------------------------------*/
#code_folder_sidebar_info pre {
	white-space: pre-wrap;
}

#code_folder_mainarea_result {
	overflow: auto;
	position: relative;
}

#code_folder_mainarea_result_table tr {
	vertical-align: top;
	white-space: nowrap;
}

#code_folder_mainarea_result_info {
	position: absolute;
	top: 5px;
	right: 2px;
	width: 22em;
	background: #E5ECF9 none repeat scroll 0 0;
	border: #D4DBE8 1px solid;
	overflow: auto;
	padding: 0.2em 0.4em 0.2em 0.4em;
	font-size: 0.9em;
}

#code_folder_mainarea_result_info pre {
	overflow: auto;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: inherit;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
}

#code_folder_mainarea_result_info .title {
	background-color: #8888FF;
	color: #FFFFFF;
	border: #D4DBE8 1px solid;
	margin: 0.3em 0 0.3em 0;
	padding: 0.1em 0.1em 0.1em 0.1em;
	font-size: inherit;
	text-transform: uppercase;
}

#code_folder_mainarea_result_readme {
	padding: 0.2em 0.2em 0.2em 0.2em;
}

#code_folder_mainarea_result_readme_text {
	white-space: pre-wrap;
	padding: 0.3em;
	line-height: 1.2em;
	font-family: consolas, "Andale Mono", monospace;

	tab-size: 5;
	-moz-tab-size: 5;
	-o-tab-size: 5;
}

/*----------------------------------------------- 
 * project source file view 
 *-----------------------------------------------*/
#code_file_mainarea_result {
	position: relative;
}

#code_file_mainarea_result_pre {
	line-height: 1.4em;
}

#code_file_mainarea_result_info {
	position: absolute;
	top: 5px;
	right: 2px;
	width: 22em;
	background: #E5ECF9 none repeat scroll 0 0;
	border: #D4DBE8 1px solid;
	overflow: auto;
	padding: 0.2em 0.4em 0.2em 0.4em;
	font-size: 0.9em;
}

#code_file_mainarea_result_info pre {
	overflow: auto;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: inherit;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
}

#code_file_mainarea_result_info .title {
	background-color: #8888FF;
	color: #FFFFFF;
	border: #D4DBE8 1px solid;
	margin: 0.3em 0 0.3em 0;
	padding: 0.1em 0.1em 0.1em 0.1em;
	font-size: inherit;
	text-transform: uppercase;
}

#code_file_mainarea_result_info_locgraph {
	width: 21em; 
	height: auto;
}

/*----------------------------------------------- 
 * project source blame view 
 *-----------------------------------------------*/
#code_blame_mainarea_result {
	position: relative;
}

#code_blame_mainarea_result_pre {
	line-height: 1.4em;
}

#code_blame_mainarea_result_info {
	position: absolute;
	top: 5px;
	right: 2px;
	width: 22em;
	background: #E5ECF9 none repeat scroll 0 0;
	border: #D4DBE8 1px solid;
	overflow: auto;
	padding: 0.2em 0.4em 0.2em 0.4em;
	font-size: 0.9em;
}

#code_blame_mainarea_result_info pre {
	overflow: auto;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: inherit;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
}

#code_blame_mainarea_result_info .title {
	background-color: #8888FF;
	color: #FFFFFF;
	border: #D4DBE8 1px solid;
	margin: 0.3em 0 0.3em 0;
	padding: 0.1em 0.1em 0.1em 0.1em;
	font-size: inherit;
	text-transform: uppercase;
}

/*----------------------------------------------- 
 * project source history view 
 *-----------------------------------------------*/
#code_history_mainarea_result {
	overflow: auto;
}

#code_history_mainarea_result_table tr {
	vertical-align: top;
	white-space: nowrap;
}

#code_history_mainarea_result_table_path_list {
	/* the list in the 'paths' column */
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
}

#code_history_mainarea_result_table pre {
	border: 0;
	background-color: inherit;
	padding: 0;
	margin: 0;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
}

#code_history_mainarea_result_table .title {
	font-size: inherit;
	font-weight: inherit;
	font-style: italic;
	text-align: center;
	background-color: #AABBFF;
}

/*----------------------------------------------- 
 * project source revision view 
 *-----------------------------------------------*/

#code_revision_mainarea_result {
	overflow: auto;
}

#code_revision_mainarea_result .title .anchor {
	font-size: 70%;
}

#code_revision_mainarea_result_msg {
	border: 0;
	padding: 0;	
	background-color: inherit;
	margin: 0;
	margin-bottom: 1em;
	white-space: pre-wrap;
}

#code_revision_mainarea_result_files_table td {
	white-space: nowrap;
}

#code_revision_mainarea_result_files_table td.M {
	white-space: nowrap;
	background-image:url(images/page_white_edit.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#code_revision_mainarea_result_files_table td.D {
	white-space: nowrap;
	background-image:url(images/page_white_delete.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#code_revision_mainarea_result_files_table td.A {
	white-space: nowrap;
	background-image:url(images/page_white_add.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#code_revision_mainarea_result_files_table td.R {
	white-space: nowrap;
	background-image:url(images/page_white_add.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#code_revision_mainarea_result_properties_table {
	border-spacing: 0;
	border-collapse: collapse;
}

#code_revision_mainarea_result_properties_table td.M {
	white-space: nowrap;
	background-image:url(images/page_white_edit.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#code_revision_mainarea_result_properties_table td.D {
	white-space: nowrap;
	background-image:url(images/page_white_delete.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#code_revision_mainarea_result_properties_table td.A {
	white-space: nowrap;
	background-image:url(images/page_white_add.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#code_revision_mainarea_result_sidebar {
	/*overflow: auto;*/
}

#code_revision_mainarea_result_sidebar pre {
	overflow: auto;
	border: 0;
	padding: 0;
}

.review_comment_title {
	padding: 3px 3px 3px 3px;
	margin-top: 5px;
	background-color: #DDDDF0;
	font-size: 90%;
	font-weight: bold;
}

.review_comment_title_no {
}

.review_comment_title_updatedby {
	font-style: italic;
}

.review_comment_title_updatedon {
}

.review_comment_text {
	border:1px solid #F0F0FC;
	background-color: #F0F0FC;
	padding-left: 5px;
	padding-right: 5px;
}


/*----------------------------------------------- 
 * project source diff view 
 *-----------------------------------------------*/
#code_diff_mainarea_result {
	overflow: auto;
}

#code_diff_mainarea_result_table {
	border: 0;
}

#code_diff_mainarea_result_table tr.diff td pre {
	background-color: inherit;
	border: 0;
	margin: 0;
	padding: 0;
}

#code_diff_mainarea_result_table tr.diff td.diff {
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#code_diff_mainarea_result_table tr.diff td.diffrow {
	font-style: italic;
	font-weight: bold;
}

#code_diff_mainarea_result_table tr.diff td.diffadded {
	border:1px solid #cdf0cd;
	background-color:#ddffdd;
	background-image:url(images/bullet_add.png);
	background-repeat:no-repeat;
	background-position: 2px 50%;
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#code_diff_mainarea_result_table tr.diff td.diffdeleted {
	border:1px solid #e8d4bc;
	background-color:#f8e4cc;
	background-image:url(images/bullet_delete.png);
	background-position: 2px 50%;
	background-repeat:no-repeat;
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#code_diff_mainarea_result_table tr.diff td.diffchanged {
	border:1px solid #f0f0bc;
	background-color:#ffffcc;
	background-image:url(images/bullet_yellow.png);
	background-repeat:no-repeat;
	background-position: 2px 50%;
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#code_diff_mainarea_result_fulldiffold {
	border: none;
	//padding-left: 10px;
	//background: #F8F8FA;
	padding-left: 1px;
	line-height: 1.4em;
}

#code_diff_mainarea_result_fulldiffnew {
	border: none;
	//padding-left: 10px;
	background: #FEF8F8;
	padding-left: 1px;
	line-height: 1.4em;
}

#code_diff_mainarea_result_fullview .navigator {
	background-color: #7777FF;
	color: #FFFFFF;
	font-weight: bold;
}

#code_diff_mainarea_result_fullview .navigator a {
	color: #FFFFFF;
	font-weight: bold;
	font-decoration: none;
}

#code_diff_mainarea_result_fullview .diff {
	background-position: 2px 50%;
	padding: 0;
	padding-left:15px;
	margin: 0;
}


#code_diff_mainarea_result_fullview .diffadded {
	border:1px solid #cdf0cd;
	background-color:#ddffdd;
	background-image:url(images/bullet_add.png);
	background-repeat:no-repeat;
	//background-position: 2px 50%;
	background-position: 0 50%;
	padding: 0;
	padding-left:15px;
	margin: 0;
}

#code_diff_mainarea_result_fullview .diffdeleted {
	border:1px solid #e8d4bc;
	background-color:#f8e4cc;
	background-image:url(images/bullet_delete.png);
	background-repeat:no-repeat;
	//background-position: 2px 50%;
	background-position: 0 50%;
	padding: 0;
	padding-left:15px;
	margin: 0;
}

#code_diff_mainarea_result_fullview .diffchanged {
	border:1px solid #f0f0bc;
	background-color:#ffffcc;
	background-image:url(images/bullet_yellow.png);
	background-repeat:no-repeat;
	//background-position: 2px 50%;
	background-position: 0 50%;
	padding: 0;
	padding-left:15px;
	margin: 0;
}

#code_diff_mainarea_result_fullview .diffchangedold {
	text-decoration: line-through;
}

#code_diff_mainarea_result_fullview .diffchangednew {
	//background-color:#ffff00;
	text-decoration: underline;
}

#code_diff_mainarea_result_fullview .diffrow {
	font-size: 1.2em;
	padding: 0.2em 0.2em 0.2em 0.2em;
	font-weight: bold;
	background-color: black;
}
