/*----------------------------------------------- 
 * project source folder view 
 *-----------------------------------------------*/
#code_folder_mainarea_result {
	overflow: auto;
	position: relative;
}

#code_folder_mainarea_result_table tr {
	vertical-align: top;
	white-space: nowrap;
}

#code_folder_mainarea_result_readme {
	padding: 0.2em 0.2em 0.2em 0.2em;
}

#code_folder_mainarea_result_readme_text {
	white-space: pre-wrap;
	padding: 0.3em;
	line-height: 1.2em;
	background-color: #F8F8FA;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/*----------------------------------------------- 
 * project source file view 
 *-----------------------------------------------*/
#code_file_mainarea_result {
	position: relative;
}

#code_file_mainarea_result_code {
	line-height: 1.4em;
}

#code_file_mainarea_result_info_locgraph {
	width: 21em; 
	height: auto;
}

/*----------------------------------------------- 
 * project source blame view 
 *-----------------------------------------------*/

#code_blame_mainarea_result {
	position: relative; /* required for infobox positioning */
}

#code_blame_mainarea_result_code_container {
	border: none;
	line-height: 1.4em;
}

#code_blame_mainarea_result_code_author {
	background: #FEF8F8;
}

#code_blame_mainarea_result_code ol {
	/* pre-wrap can't be used for the actual line number in the blame view.
	 * because the revision span and the author span floating on the left
	 * doesn't wrap lines when the code part wraps. so reset it to 'pre' */
	white-space: pre;
}

/*----------------------------------------------- 
 * project source history view 
 *-----------------------------------------------*/
#code_history_mainarea_result {
	overflow: auto;
}

#code_history_mainarea_result_table tr {
	vertical-align: top;
	white-space: nowrap;
}

#code_history_mainarea_result_table_path_list {
	/* the list in the 'paths' column */
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
}

#code_history_mainarea_result_table pre {
	border: 0;
	background-color: inherit;
	padding: 0;
	margin: 0;
	color: #333333;
}

#code_history_mainarea_result_table .title {
	font-size: inherit;
	font-weight: inherit;
	font-style: italic;
	text-align: center;
	background-color: #AABBFF;
}

/*----------------------------------------------- 
 * project source revision view 
 *-----------------------------------------------*/

#code_revision_mainarea_result {
	overflow: auto;
}

#code_revision_mainarea_result .collapsible-box{
	margin-top: 0.5em;
}

#code_revision_mainarea_result_msg {
}

#code_revision_mainarea_result_msg_text {
	line-height: 1.3em;
	padding: 0 0.2em 0 0.2em;
}

#code_revision_mainarea_result_files_table,
#code_revision_mainarea_result_properties_table {
	padding: 0.5em 0 0.5em 0;
	background: inherit;
	line-height: 1.5em;
}

#code_revision_mainarea_result_files_table td,
#code_revision_mainarea_result_properties_table td {
	white-space: nowrap;
}

#code_revision_mainarea_result_files_table td.M,
#code_revision_mainarea_result_properties_table td.M {
	white-space: nowrap;
	background-image:url(images/page_white_edit.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#code_revision_mainarea_result_files_table td.D,
#code_revision_mainarea_result_properties_table td.D {
	white-space: nowrap;
	background-image:url(images/page_white_delete.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#code_revision_mainarea_result_files_table td.A,
#code_revision_mainarea_result_properties_table td.A {
	white-space: nowrap;
	background-image:url(images/page_white_add.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#code_revision_mainarea_result_files_table td.R,
#code_revision_mainarea_result_properties_table td.R {
	white-space: nowrap;
	background-image:url(images/page_white_add.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

.review_comment_title {
	padding: 3px 3px 3px 3px;
	margin-top: 5px;
	background-color: #DDDDF0;
	font-size: 90%;
	font-weight: bold;
}

.review_comment_title_no {
}

.review_comment_title_updatedby {
	font-style: italic;
}

.review_comment_title_updatedon {
}

.review_comment_text {
	border:1px solid #F0F0FC;
	background-color: #F0F0FC;
	padding-left: 5px;
	padding-right: 5px;
}


/*----------------------------------------------- 
 * project source diff view 
 *-----------------------------------------------*/
#code_diff_mainarea_result {
	overflow: auto;
}

#code_diff_mainarea_result_table {
	border: 0;
}

#code_diff_mainarea_result_table tr.diff td pre {
	background-color: inherit;
	border: 0;
	margin: 0;
	padding: 0;
}

#code_diff_mainarea_result_table tr.diff td.diff {
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#code_diff_mainarea_result_table tr.diff td.diffrow {
	font-style: italic;
	font-weight: bold;
}

#code_diff_mainarea_result_table tr.diff td.diffadded {
	border:1px solid #cdf0cd;
	background-color:#ddffdd;
	background-image:url(images/bullet_add.png);
	background-repeat:no-repeat;
	background-position: 2px 50%;
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#code_diff_mainarea_result_table tr.diff td.diffdeleted {
	border:1px solid #e8d4bc;
	background-color:#f8e4cc;
	background-image:url(images/bullet_delete.png);
	background-position: 2px 50%;
	background-repeat:no-repeat;
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#code_diff_mainarea_result_table tr.diff td.diffchanged {
	border:1px solid #f0f0bc;
	background-color:#ffffcc;
	background-image:url(images/bullet_yellow.png);
	background-repeat:no-repeat;
	background-position: 2px 50%;
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#code_diff_mainarea_result_fulldiffold {
	border: none;
	/*padding-left: 10px;
	background: #F8F8FA;*/
	padding-left: 1px;
	line-height: 1.4em;
}

#code_diff_mainarea_result_fulldiffnew {
	border: none;
	/*padding-left: 10px;*/
	background: #FEF8F8;
	padding-left: 1px;
	line-height: 1.4em;
}

#code_diff_mainarea_result_fullview .navigator {
	background-color: #7777FF;
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 1em;
}

#code_diff_mainarea_result_fullview .navigator a {
	color: #FFFFFF;
	font-weight: bold;
	font-decoration: none;
}

#code_diff_mainarea_result_fullview .diff {
	background-position: 2px 50%;
	padding: 0;
	padding-left:15px;
	margin: 0;
}


#code_diff_mainarea_result_fullview .diffadded {
	border:1px solid #cdf0cd;
	background-color:#ddffdd;
	background-image:url(images/bullet_add.png);
	background-repeat:no-repeat;
	/*background-position: 2px 50%;*/
	background-position: 0 50%;
	padding: 0;
	padding-left:15px;
	margin: 0;
}

#code_diff_mainarea_result_fullview .diffdeleted {
	border:1px solid #e8d4bc;
	background-color:#f8e4cc;
	background-image:url(images/bullet_delete.png);
	background-repeat:no-repeat;
	/*background-position: 2px 50%;*/
	background-position: 0 50%;
	padding: 0;
	padding-left:15px;
	margin: 0;
}

#code_diff_mainarea_result_fullview .diffchanged {
	border:1px solid #f0f0bc;
	background-color:#ffffcc;
	background-image:url(images/bullet_yellow.png);
	background-repeat:no-repeat;
	/*background-position: 2px 50%;*/
	background-position: 0 50%;
	padding: 0;
	padding-left:15px;
	margin: 0;
}

#code_diff_mainarea_result_fullview .diffchangedold {
	text-decoration: line-through;
}

#code_diff_mainarea_result_fullview .diffchangednew {
	/*background-color:#ffff00;*/
	text-decoration: underline;
}

#code_diff_mainarea_result_fullview .diffrow {
	font-size: 1.2em;
	padding: 0.2em 0.2em 0.2em 0.2em;
	font-weight: bold;
	background-color: black;
}

/*----------------------------------------------- 
 * project source search view (including folder view)
 *-----------------------------------------------*/
 
#code_search_invertedly_label .ui-button-text,
#code_search_case_insensitively_label .ui-button-text,
#code_search_recursively_label .ui-button-text,
#code_search_in_name_label .ui-button-text,
#code_search_is_regex_label .ui-button-text {

	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 1em;
	margin: 0;
}
