
html {
	height: 100%; /* for sticky footer */
}

body {
	padding: 0;
	/*margin: 4px 4px 4px 4px;*/
	margin: 0;
	min-width: 600px;

	height: 100%; /* for sticky footer */
}

textarea {
	font-family: consolas, monaco, "Andale Mono", monospace;

	tab-size: 5;
	-moz-tab-size: 5;
	-o-tab-size: 5;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.content {
	font-size: 0.9em;
	font-family: /*Ubuntu,*/ "Trebuchet MS", Tahoma, Verdana, sans-serif;

	min-height: 100%; /* for stick footer */
	height: auto !important; /* for stick footer */
	height: 100%; /* for stick footer */
	margin: 0 auto -40px; /* for stick footer */
}

.content h1 {
	font-size: 1.3em;
	font-weight: bold;
}

.content h2 {
	font-size: 1.2em;
	font-weight: bold;
}

.content h3 {
	font-size: 1.1em;
	font-weight: bold;
}

.content h4 {
	font-size: 1.0em;
	font-weight: bold;
}

.content ul {
	list-style: square;
	white-space: normal;
}

.content ol {
	white-space: normal;
}

.content a {
	text-decoration: none;
	color: #4665A2;
}

.content a:visited {
	color: #4665A2;
}

.content pre, 
.content code,
.content tt {
	font-family: consolas, monaco, "Andale Mono", monospace;
	overflow: auto;
	border: none;
	white-space: pre;

	tab-size: 5;
	-moz-tab-size: 5;
	-o-tab-size: 5;
}

.content pre.pre-wrapped, 
.content code.pre-wrapped {
	white-space: -moz-pre-wrap !important;
	white-space: -o-pre-wrap !important; 
	white-space: pre-wrap !important;
}

.content .collapsible-box {
	margin: 0;
	padding: 0;
}

.content .collapsible-box-header {
	background: #E5ECF9 none repeat scroll 0 0;
	border: #D4DBE8 1px solid;
	color: #1C94C4;
	font-size: 0.9em;
}

.content .collapsible-box-list {
	line-height: 1.5em;
	margin: 1px 0 0 0;
}

.content .collapsible-box-table {
	border-collapse: collapse;
	line-height: 1.5em;
	margin: 1px 0 0 0;
}

.content .collapsible-box-form {
	line-height: 2em;
	margin: 1px 0 0 0;
}

.content .collapsible-box-panel {
	line-height: 2em;
	margin: 1px 0 0 0;
	padding: 0.2em 0.2em 0.2em 0.2em !important; /* !important so that jquery-ui.css doesn't override this */
}

.content .fit-width-result-table,
.content .full-width-result-table  {
	border-collapse: collapse;
	font-size: inherit;
	background: inherit;
}

.content .full-width-result-table  {
	width: 100%;
}

.content .fit-width-result-table tr,
.content .full-width-result-table tr {
	vertical-align: text-top;
	text-align: left;
	white-space: nowrap;

	border-bottom: 1px solid #F0F0F0;
	color: #333333;
}

.content .fit-width-result-table td,
.content .full-width-result-table td {
	padding: 0.4em 0.8em 0.4em 0.8em;
	white-space: nowrap;
}

.content .fit-width-result-table tr th,
.content .full-width-result-table tr th,
.content .fit-width-result-table tr td.header,
.content .full-width-result-table tr td.header {
	padding: 0.5em 0.8em 0.5em 0.8em;
	font-weight: bold;
	text-align: left;
	color: #1C94C4;
	background-color: #E5ECF9;
	white-space: nowrap;
}

.content .fit-width-result-table tr td img,
.content .full-width-result-table tr td img {
	vertical-align: middle;
	display:inline-block;
}

.content .taskbar {
	font-size: 1em;
	text-transform: uppercase;
	padding: 0.5em 0.2em 0.5em 0.2em;
	color: #ffffff;
	background-color: #2F2F2F;
	background-color: rgba(47,47,47,0.95);

	line-height: 2em;
	vertical-align: middle;
}

.content .taskbar .boxa {
	/*vertical-align: bottom;*/
	float: none;
}

.content .taskbar .boxb {
	float: right;
}

.content .taskbar .boxa a {
	text-decoration: none;
	color: #FFFFFF;
	padding: 6px;
}

.content .taskbar .boxa a:hover {
	padding: 6px;
	background-color: #4472B9;
	color: #FFFFFF;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.content .taskbar .boxa a:active {
	text-decoration: none;
}

.content .taskbar .boxa ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.content .taskbar .boxa ul li {
	display: inline;
}

.content .projectbar {
	position: relative;  /* required for absolute position of .ctxmenu and .fixedmenu */

	color: #333333;
	/*overflow: auto;*/
	overflow: inherit;
	vertical-align: middle;

	height: 4.5em;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;

	background-color: #F5F5F5;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 0.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.content .projectbar .title {
	font-size: 2em;
	text-transform: uppercase;
	white-space: nowrap;
}

.content .projectbar .subtitle {
	font-size: 1em;
	white-space: nowrap;
	color: #1C94C4;
}

.content .projectbar .ctxmenu {
	position: absolute;
	bottom: 0;
	right: 3px;

	padding: 0.1em 0em 0.1em 0em;
	line-height: 2em;
}

.content .projectbar .fixedmenu {
	padding: 0.1em 0em 0.1em 0em;
	position: absolute;
	top: 3px;
	right: 2px;
	padding: 0;
}

/*
.content .projectbar .fixedmenu a,
.content .projectbar .fixedmenu a:visited {
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: #AAAAAA;
}


.content .projectbar .fixedmenu a:hover {
	color: #333333;
}*/


.content .projectbar .fixedmenu a.selected {
	/*padding: 6px;*/
	color: #EB8F00;
	border-color: #EB8F00;
	/*background-color: #FFFFFF;*/
/*	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;*/

	/*border-bottom: 3px solid red;*/
} 


.content .projectbar .fixedmenu a.selected:hover {
	/*padding: 6px;*/
	/*background-color: #6482A9;
	color: #FFFFFF;*/
}

.content .projectbar .ctxmenu a {
	padding: 6px;
	/*color: #FFFFFF;*/
}

.content .projectbar .ctxmenu a:hover {
	padding: 6px;
	background-color: #6482A9;
	color: #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.content .projectbar .ctxmenu a.selected {
	padding: 6px;
	color: #333333;
	background-color: #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.content .projectbar .ctxmenu a.selected:hover {
	padding: 6px;
	background-color: #6482A9;
	color: #FFFFFF;
}

.content .mainarea {
	padding: 0.3em 0.5em 0.3em 0.5em;
}

.content .mainarea .title {
	font-size: 120%;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	font-weight: bold;
	overflow: auto;
}

.content .mainarea .title a {
	text-decoration: none;
	color: #000000;
	padding-left: .3em;
	padding-right: .3em;
}

.content .mainarea .title a:hover {
	background-color: #BBCCDD;
}

.content .mainarea .menu {
	margin-top: 0.5em;
	margin-left: 0.3em;
	margin-bottom: 0.5em;
}

.content .mainarea .menu a {
	text-decoration: none;
	margin-left: .2em;
	margin-right: .2em;
}

.content .mainarea .menu a:hover {
	background-color: #BBCCDD;
}

.content .mainarea .result {
	/*min-height: 30em;*/
	overflow: auto;
}

.content .mainarea .form_container {
	padding: 0.5em 0.5em 0.5em 0.5em;
	padding-bottom: 0.3em;
	vertical-align: middle;
	font-size: 1em;
	/*border: 1px solid #CCDDEE;*/
}

.content .mainarea form {
	margin-bottom: 0;
}

.content .mainarea form input {
	-moz-box-shadow: 0 2px 4px #bbb inset;
	-webkit-box-shadow: 0 2px 4px #BBB inset;
	box-shadow: 0 2px 4px #BBB inset;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	font-size: 1em;
	border: 0 none;
	height: 1.8em; 
	vertical-align: middle;
	padding: 0.2em 0.2em 0.2em 0.2em;
}

.content .mainarea form input:focus {
	background-color: #E7E8E7;
	outline: 0;
}

.content .mainarea form input[type="text"] {
}

.content .mainarea form input[type="password"] {
}

.content .mainarea form input[type="checkbox"] {
	height: inherit;
}

.content .mainarea form input[type="submit"] {
	cursor: pointer;
	height: 2em;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	text-transform: uppercase;

	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 5px;
	text-shadow: 1px 1px 3px #666666;
	color: #ffffff;
	text-decoration: none;

	font-size: 1em;
	border: 0 none;
}

.content .mainarea form input[type="submit"]:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

.content .mainarea form textarea {
	-moz-box-shadow: 0 2px 4px #bbb inset;
	-webkit-box-shadow: 0 2px 4px #BBB inset;
	box-shadow: 0 2px 4px #BBB inset;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	font-size: inherit;
	border: 0 none;
	padding: 0.2em 0.2em 0.2em 0.2em;
}

.content .mainarea .form_input_label {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.content .mainarea .form_input_label .ui-button {
	font-size: 80%;
	font-style: italic;
}

.content .mainarea .form_input_field {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.content .mainarea .form_input_preview {
	background-color: #FFFFF0;
	font-size: 90%;
	padding: 0.2em 0.2em 0.2em 0.2em;
	margin-bottom: 0.5em;
}

.content .mainarea .form_input_preview pre {
	background-color: #F8F8FA;
	padding: 0.2em 0.2em 0.2em 0.2em;
}

.content .mainarea .icon {
	border: 0;
}

.content .mainarea pre {
	border: none;
}

.content .mainarea pre.wiki {
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap; 
	white-space: pre-wrap;

	padding: 0.3em;
	line-height: 1.2em;

	tab-size: 5;
	-moz-tab-size: 5;
	-o-tab-size: 5;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	background-color: #F8F8FA;
}

.content .mainarea table.wiki {
	border-collapse: collapse;
	font-size: inherit;
	background: inherit;
}

.content .mainarea table.wiki tr {
	vertical-align: text-top;
	text-align: left;
	white-space: nowrap;

	border-bottom: 1px solid #F0F0F0;
	color: #333333;
}

.content .mainarea table.wiki th {
	padding: 0.5em 0.8em 0.5em 0.8em;
	font-weight: bold;
	text-align: left;
	color: #1C94C4;
	background-color: #E5ECF9;
	white-space: nowrap;
}

.content .mainarea table.wiki td {
	padding: 0.5em 0.8em 0.5em 0.8em;
	text-align: left;
	white-space: normal;
}

.content .mainarea p.wiki {
	/* use the default for normal cases */
	overflow: auto;
}

.content .mainarea p.wiki img {
	max-width: 100%;
}

.content .mainarea li img  {
	vertical-align: middle;
	padding: 2px;
}

.content .mainarea table p.wiki {
	/* no margin-top within tables */
	margin-top: 0;
}

.content .mainarea pre.line-numbered span.line-number-block {
	color:black;
	display:block;

	float:left;
	border-right:1px solid;
	text-align:right;

	/* the following properties must match .content .mainarea pre.line-numbered code.line-numbered-code */
	overflow: auto;
	margin: 0;
	padding: 0.2em;
	line-height: 1.4em;
}

.content .mainarea pre.line-numbered span.line-number-block span {
	display: block;
	padding: 0 0.2em 0 0.5em;
}

.content .mainarea pre.line-numbered span.line-number-block span.line-number-empty {

}

.content .mainarea pre.line-numbered code.line-numbered-code {
	/* this should override some properties of .prettyprint */
	color:black;
	display:block;

	/* the following properties must match .content .mainarea pre.line-numbered span.line-number-block */
	overflow: auto;
	margin: 0;
	padding: 0.2em;
	line-height: 1.4em;
}

.content .mainarea pre.line-numbered code.line-numbered-code span.line-numbered-code-line-empty {
	display: inline-block;
	width: 100%;
	background: linear-gradient(0deg, transparent 48%, #CCCCCC 52%, transparent 54%);
}

.content .mainarea pre.line-numbered span.line-number-clear {
	display:block;
	clear:both;
}

.prettyprint ol {
	/* this is used for line numbering when numbering is sequential. */
	white-space: pre-wrap;
} 

.prettyprint {
	/* anything that make prettyprint area different from other pres? */
	/*background-color: #FFFFFF;*/
	/*border: 1px solid #ccc;*/
	background-color: #F8F8FA;
	border: none;
	line-height: 1.2em;
	padding: 0.3em;

	tab-size: 5;
	-moz-tab-size: 5;
	-o-tab-size: 5;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

}

.prettyprint .pln { color: #222222; } 
.prettyprint .str { color: #AA1111; }
.prettyprint .kwd { color: #2222ff; }
.prettyprint .com { color: #888a88; font-style: italic; }
.prettyprint .typ { color: #4271ae; }
.prettyprint .lit { color: #f5871f; }
.prettyprint .pun { color: #4d4d4c; }
.prettyprint .opn { color: #4d4d4c; }
.prettyprint .clo { color: #4d4d4c; }
.prettyprint .tag { color: #c82829; }
.prettyprint .atn { color: #f5871f; }
.prettyprint .atv { color: #3e999f; }
.prettyprint .dec { color: #f5871f; }
.prettyprint .var { color: #c82829; }
.prettyprint .fun { color: #4271ae; }

/* Specify class=linenums on a pre to get line numbering */
.prettyprint ol.linenums { 
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1em;
	list-style-position: outside; 
	color: #7E7EAE;
} /* IE indents via margin-left */

/*
.prettyprint li.L0,
.prettyprint li.L1,
.prettyprint li.L2,
.prettyprint li.L3,
.prettyprint li.L5,
.prettyprint li.L6,
.prettyprint li.L7,
.prettyprint li.L8 { list-style-type: none }
*/
/* Alternate shading for lines */
/*
.prettyprint li.L1,
.prettyprint li.L3,
.prettyprint li.L5,
.prettyprint li.L7,
.prettyprint li.L9 { background: #eee }
*/

@media print {
	.prettyprint .pln { color: #222222; } 
	.prettyprint .str { color: #AA1111; }
	.prettyprint .kwd { color: #2222ff; font-weight: bold; }
	.prettyprint .com { color: #888a88; font-style: italic; }
	.prettyprint .typ { color: #4271ae; font-weight: bold; }
	.prettyprint .lit { color: #f5871f; }
	.prettyprint .pun { color: #4d4d4c; }
	.prettyprint .opn { color: #4d4d4c; }
	.prettyprint .clo { color: #4d4d4c; }
	.prettyprint .tag { color: #c82829; font-weight: bold; }
	.prettyprint .atn { color: #f5871f; }
	.prettyprint .atv { color: #3e999f; }
	.prettyprint .dec { color: #f5871f; }
	.prettyprint .var { color: #c82829; }
	.prettyprint .fun { color: #4271ae; }
}


.content .infostrip {
	font-size: 0.9em;

	background: #E5ECF9 none repeat scroll 0 0;
	border: #D4DBE8 1px solid; 

	margin: 0.3em 0em 0em 0em;
	padding: 0.3em 0.3em 0.3em 0.3em;
	text-align: right;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.content .infostrip a {
	text-decoration: none;
}

.content .title-band {
	font-size: 0.9em;

	background: #F0F0F0 none repeat scroll 0 0;
	/*border: #D4DBE8 1px solid; */

	margin: 0.3em 0em 0.5em 0em;
	padding: 1em 0.5em 1em 0.5em;
	/*text-align: right;*/

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.content .title-band a {
	text-decoration: none;
}

.content .title-band .title {
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em !important;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

.content .title-band .actions {
	float: right;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

.content .sidebar {
	font-size: 0.9em;
	float: right;
	width: 22em;
	margin-top: 0.3em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.content .sidebar .collapsible-box {
	/* extra margin-bottom for collapsible located on the sidebar */
	margin-bottom: 0.5em;
}

.content .sidebar .user_icon_img {
	height: 2em;
	width: 2em;
	vertical-align: middle;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/*
.content .sidebar ul {
	margin: 0.2em 0 0.2em 0.5em;
	padding: 0.2em 0 0.2em 1em;
}
*/

.content .sidebar a {
	text-decoration: none;
	padding-left: .2em;
	padding-right: .2em;
}

/*
.content .sidebar table {
	font-size: 1em;
	width: 100%;
	margin: 0.2em 0 0.2em 0;
	padding: 0.2em 0 0.2em 1em;
}
*/

.content .infobox {
	position: absolute;
	top: 5px;
	right: 2px;
	width: 22em;

	background: #E5ECF9 none repeat scroll 0 0;

	border: #D4DBE8 1px solid;
	overflow: auto;
	padding: 0.2em 0.4em 0.2em 0.4em;
	font-size: 0.9em;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	color: #333333;
}

.content .infobox .title {
	background: #E0E0E0;
	/*background: #E5ECF9 none repeat scroll 0 0;*/
	border: none;
	color: #1C94C4;
        font-size: 0.9em;
	padding: 0.5em;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.content .infobox ul {
	line-height: 1.5em;
	margin: 1px 0 0 0;
	padding: 0.5em 1.8em 0.5em 1.8em;
}

.content .infobox pre {
	margin: 0;
	padding: 0.5em 0.2em 0.5em 0.2em;
}

.content .form_message {
	color: red;
}

.content .form_field_error {
	color: red;
}

.content span.quoted {
	color: #bb2322;
	font-style: italic;
}


.content span.left_arrow_indicator { 
	position: relative;
	background: #FA5240;
	color: #FFFFFF;;
	font-size: 0.9em;
	margin-left: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
} 

.content span.left_arrow_indicator:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(245, 230, 17, 0);
	border-right-color: #FA5240;
	border-width: 5px;
	margin-top: -5px; 
}

/* === footer === */

.content .footer-pusher {
	clear: both;
	height: 40px; /* for sticky footer */
}

.footer {
	clear: both;
	text-align: right;
	vertical-align: middle;
	padding-right: 0.5em;
	padding-right: 0.5em;

	color: #CCCCCC;
	background-color: #2F2F2F;
	background-color: rgba(47,47,47,0.95);
	font-weight: bold;

	font-size: 0.9em;
	font-family: /*Ubuntu,*/ "Trebuchet MS", Tahoma, Verdana, sans-serif;
	height: 40px;      /* for sticky footer */
	line-height: 40px;
}


.footer a {
	color: #FFFFFF;
}

/* === signin panel === */
#taskbar_signinout_form fieldset {
	margin: 0;
	padding: 0;
	border: 0;
	white-space: nowrap;
}

#taskbar_user_name {
	background: url("images/username.png") no-repeat scroll 0% 0% rgb(234, 231, 231);
	background-position: 0px 1px !important;
	padding-left: 24px;
	text-align: left;
}

#taskbar_user_name:focus {
	background-color: #E7E8E7;
	outline: 0;
}

#taskbar_user_pass {
	background: url("images/password.png") no-repeat scroll 0% 0% rgb(234, 231, 231);
	background-position: 0px 1px !important;
	padding-left: 24px;
	text-align: left;
}

#taskbar_user_pass:focus {
	background-color: #E7E8E7;
	outline: 0;
}

#taskbar_user_title {
	text-decoration: none;
	color: #FFFFFF;
	padding: 6px;
}

#taskbar_user_title:hover {
	padding: 6px;
	background-color: #4472B9;
	color: #FFFFFF;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#taskbar_user_title:active {
	text-decoration: none;
}

#taskbar_user_icon {
	height: 2em; /* as large as line-height of taskbar */
	width: auto;
	vertical-align: middle;
	margin-right: 2px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#taskbar_project_to_find {
	text-align: left;
}

#taskbar_signinout_button {

}

#taskbar_signinout_button .ui-button-text {
	line-height: 1em;
}

/* ================ login page =================== */

#login_user_name {
	background: url("images/username.png") no-repeat scroll 0% 0% rgb(234, 231, 231);
	background-position: 0px 3px !important;
	padding-left: 24px;
	height: 2.2em; 
}

#login_user_name:focus {
	background-color: #E7E8E7;
	outline: 0;
}

#login_user_pass {
	background: url("images/password.png") no-repeat scroll 0% 0% rgb(234, 231, 231);
	background-position: 0px 3px !important;
	padding-left: 24px;
	height: 2.2em; 
}

#login_user_pass:focus {
	background-color: #E7E8E7;
	outline: 0;
}

#login_signin_button {
	height: 2em;
}



