/*-----------------------------------------------
 * file home view
 *-----------------------------------------------*/
#file_home_result,
#file_show_result {
	position: relative;
	overflow: auto;
	margin: 0.2em 0 0.2em 0;
}

#file_home_result_table tr {
	vertical-align: middle;
}

/*-----------------------------------------------
 * file show view
 *-----------------------------------------------*/
#file_show_files td {
	padding-left: 0.5em;
	padding-right: 0.5em;
	line-height: 1.5em;
	white-space: nowrap;
}

#file_show_metadata_body,
#file_show_files_body {
	background-color: #FCFCFC;
	margin: 0 !important;
	padding: 0.5em 0.5em 0.5em 0.5em !important;
}

#file_show_metadata_list {
	padding: 0 !important;
	margin: 0 0 0.5em 0 !important;
	list-style: outside none none !important;
	clear: both;
}

#file_show_metadata_list li {
	padding: 0.2em 0.2em 0.2em 0.2em !important;
	margin: 0em 0.2em 0.4em 0.2em !important;
	float: left !important;
	background-color: #EAEAEA !important;
	color: #000000 !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/*-----------------------------------------------
 * file home view - new file dialog
 *-----------------------------------------------*/
#file_home_mainarea_new_description_tabs {
	border: none !important;
}

#file_home_mainarea_new_description_tabs .ui-tabs-panel {
	padding: 0.2em 0em 0em 0em !important;
}

#file_home_mainarea_new_description_tabs .ui-widget-header {
	border: none !important;
	background: none !important;
	padding: 0em !important;
}

#file_home_mainarea_new_description_tabs .ui-tabs-nav {
	padding: 0em !important;
}

/* #file_home_mainarea_new_description_tabs .ui-tabs-nav li { */
.ui-tabs .ui-tabs-nav li.ui-state-default {
	border-bottom: 1px solid #cccccc !important;
}

.ui-tabs .ui-tabs-nav li.ui-state-active {
	border-bottom: 1px solid #fbd850 !important;
}


/*-----------------------------------------------
 * file home show - edit file dialog
 *-----------------------------------------------*/
#file_show_edit_description_tabs {
	border: none !important;
}

#file_show_edit_description_tabs .ui-tabs-panel {
	padding: 0.2em 0em 0em 0em !important;
}

#file_show_edit_description_tabs .ui-widget-header {
	border: none !important;
	background: none !important;
	padding: 0em !important;
}

#file_show_edit_description_tabs .ui-tabs-nav {
	padding: 0em !important;
}

/* #file_show_edit_description_tabs .ui-tabs-nav li { */
.ui-tabs .ui-tabs-nav li.ui-state-default {
	border-bottom: 1px solid #cccccc !important;
}

.ui-tabs .ui-tabs-nav li.ui-state-active {
	border-bottom: 1px solid #fbd850 !important;
}
