li.issue-type-defect {
	background-color: #D9534F;
	color: #FFFFFF;
}

li.issue-type-request {
	background-color: #44AD8E;
	color: #FFFFFF;
}

li.issue-type-other {
	background-color: #4E8BCA;
	color: #FFFFFF;
}


li.issue-status-new {
	background-color: #44AD8E;
	color: #FFFFFF;
}

li.issue-status-accepted {
	background-color: #44AD8E;
	color: #FFFFFF;
}

li.issue-status-rejected {
	background-color: #AD448E;
	color: #FFFFFF;
}

li.issue-status-started {
	background-color: #44ADAD;
	color: #FFFFFF;
}

li.issue-status-stalled {
	background-color: #ADAD8E;
	color: #FFFFFF;
}

li.issue-status-testing {
	background-color: #44ADBB;
	color: #FFFFFF;
}

li.issue-status-resolved {
	background-color: #34AD56;
	color: #FFFFFF;
}

li.issue-status-worked-around {
	background-color: #65AD67;
	color: #FFFFFF;
}

li.issue-status-other {
	background-color: #888888;
	color: #FFFFFF;
}

li.issue-type-other {
	background-color: #4E8BCA;
	color: #FFFFFF;
}

li.issue-priority-critical {
	background-color: #D9534F;
	color: #FFFFFF;
}

li.issue-priority-high {
	background-color: #B9534F;
	color: #FFFFFF;
}

li.issue-priority-medium {
	background-color: #99534F;
	color: #FFFFFF;
}

li.issue-priority-low {
	background-color: #EEE39E;
	color: #FFFFFF;
}

li.issue-priority-other {
	background-color: #FFF39E;
}

li.issue-owner {
	background-color: #FFF39E;
}

/*---------------------------------------------
 * issue home
 *---------------------------------------------*/
#issue_home_mainarea_result {
	overflow: auto;
}

#issue_home_mainarea_result_table tr {
	vertical-align: text-top;
}

#issue_home_mainarea_result_table tr.new td.status,
#issue_home_mainarea_result_table tr.new td.summary {
	background-color: #ffccbb;
	background-color: rgba(255, 204, 187, 0.5);
}

#issue_home_mainarea_result_table tr.accepted td.status,
#issue_home_mainarea_result_table tr.accepted td.summary {
}

#issue_home_mainarea_result_table tr.rejected td.status,
#issue_home_mainarea_result_table tr.rejected td.summary {
	background-color: #ffeedd;
	background-color: rgba(255, 238, 221, 0.5);
}

#issue_home_mainarea_result_table tr.started td.status,
#issue_home_mainarea_result_table tr.started td.summary {
	background-color: #ddeeff;
	background-color: rgba(221, 238, 255, 0.5);
}

#issue_home_mainarea_result_table tr.stalled td.status,
#issue_home_mainarea_result_table tr.stalled td.summary {
	background-color: #bbccff;
	background-color: rgba(187, 204, 255, 0.5);
}

#issue_home_mainarea_result_table tr.resolved td.status,
#issue_home_mainarea_result_table tr.resolved td.summary {
	background-color: #ddffdd;
	background-color: rgba(221, 255, 221, 0.5);
}

#issue_home_mainarea_result_table tr.other td.status,
#issue_home_mainarea_result_table tr.other td.summary {
	background-color: #ddeeff;
	background-color: rgba(221, 238, 255, 0.5);
}

#issue_home_mainarea_result_table td.id,
#issue_home_mainarea_result_table td.type,
#issue_home_mainarea_result_table td.status,
#issue_home_mainarea_result_table td.priority,
#issue_home_mainarea_result_table td.owner {
	width: 1px;
}

#issue_home_mainarea_result_table td.summary {
	white-space: normal;
}

#issue_home_mainarea_result_pages {
	margin-top: 1em;
	text-align: center;
	width: 100%;
}

#issue_home_mainarea_search_form {
}

#issue_home_mainarea_search_form div {
	padding: 0.2em;
}

/*---------------------------------------------
 * issue show
 *---------------------------------------------*/
#issue_show_mainarea_state_body {
	background-color: #FCFCFC;
	padding: 1em 1em;
}

#issue_show_mainarea_state_body ul {
	padding: 0;
	margin: 0;
	list-style: outside none none;
}

#issue_show_mainarea_state_body ul li {
	padding: 0.2em 0.2em 0.2em 0.2em;
	margin: 0 0.2em 0 0.2em;
	float: left;
}

#issue_show_mainarea_change_form {
}

#issue_show_mainarea_change_form div {
	padding: 0.2em;
}

#issue_show_mainarea_change_form textarea {
	-moz-box-shadow: 0 2px 4px #bbb inset;
	-webkit-box-shadow: 0 2px 4px #BBB inset;
	box-shadow: 0 2px 4px #BBB inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	border: 0 none;
	width: 100%;
	font-size: 0.9em;
}

#issue_show_mainarea_files {
	padding-top: 0.5em;
}

#issue_show_mainarea_changes {
	margin-top: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	overflow: auto;
}

#issue_show_mainarea_changes .infostrip {
	margin-bottom: 0.5em;
}

#issue_show_mainarea_changes .infostrip .title {
	float: left;
}

#issue_show_mainarea_changes_table td.date {
	min-width: 5em;
	width: 1px;
}

#issue_show_mainarea_changes_table td.updater {
	width: 1px;
}

#issue_show_mainarea_changes_table td.details {
	overflow: auto;
}

#issue_show_mainarea_changes_table td.details .list {
	background-color: #F1F1FF;
}

#issue_show_mainarea_changes_table td.details .list ul li {
	padding-bottom: 0.3em;
}

#issue_show_mainarea_changes_table .issue_changes_comment .prettyprint {
	/* special pre-wrap rule to make the pretty-printed text to wrap 
	 * in the issue comment listing. i didn't manage to get oveflow: auto 
	 * or overflow: scroll to make make a scroll bar show up. */

	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
}

#issue_change_form {
	font-size: 1em;
}

/* all these elements inside the form requires a lot of refinement.
 * many of these are duplicates of elemenents in common.css */
#issue_change_form .form_input_preview {
	background-color: #FFFFF0;
	font-size: 1em;
	padding: 0.2em 0.2em 0.2em 0.2em;
	margin-bottom: 0.5em;
}

#issue_change_form .form_input_preview table {
	font-size: 1em;
}

#issue_change_form .form_input_preview pre {
	background-color: #F8F8FA;
	/*padding: 0.2em 0.2em 0.2em 0.2em;*/

	background-color: #F8F8FA;
	border: none;
	line-height: 1.2em;
	padding: 0.3em;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#issue_change_comment_preview_button.ui-button {
	font-size: 0.8em;
}

/*---------------------------------------------
 * issue edit
 *---------------------------------------------*/
#issue_edit_mainarea_type {
	padding-bottom: 0.3em;
}

#issue_edit_mainarea form textarea {
	display: block;
	padding: 1px;
	font-size: inherit;
	width: 100%;
}

#project_issue_summary {
	width: 100%;
}

#issue_edit_mainarea_buttons {
	padding-top: 0.5em;
}


/*-----------------------------------------------
 * issue home view - new issue dialog
 *-----------------------------------------------*/
#issue_home_mainarea_new_description_tabs {
	border: none !important;
}

#issue_home_mainarea_new_description_tabs .ui-tabs-panel {
	padding: 0.2em 0em 0em 0em !important;
}

#issue_home_mainarea_new_description_tabs .ui-widget-header {
	border: none !important;
	background: none !important;
	padding: 0em !important;
}

#issue_home_mainarea_new_description_tabs .ui-tabs-nav {
	padding: 0em !important;
}

/* #issue_home_mainarea_new_description_tabs .ui-tabs-nav li { */
.ui-tabs .ui-tabs-nav li.ui-state-default {
	border-bottom: 1px solid #cccccc !important;
}

.ui-tabs .ui-tabs-nav li.ui-state-active {
	border-bottom: 1px solid #fbd850 !important;
}

/*-----------------------------------------------
 * issue home show - edit issue dialog
 *-----------------------------------------------*/
#issue_show_mainarea_edit_description_tabs {
	border: none !important;
}

#issue_show_mainarea_edit_description_tabs .ui-tabs-panel {
	padding: 0.2em 0em 0em 0em !important;
}

#issue_show_mainarea_edit_description_tabs .ui-widget-header {
	border: none !important;
	background: none !important;
	padding: 0em !important;
}

#issue_show_mainarea_edit_description_tabs .ui-tabs-nav {
	padding: 0em !important;
}

/* #issue_show_mainarea_edit_description_tabs .ui-tabs-nav li { */
.ui-tabs .ui-tabs-nav li.ui-state-default {
	border-bottom: 1px solid #cccccc !important;
}

.ui-tabs .ui-tabs-nav li.ui-state-active {
	border-bottom: 1px solid #fbd850 !important;
}
