/*
 * This file contains specific IDs for furthur customization.
 */

/*----------------------------------------------- 
 * project home view 
 *-----------------------------------------------*/

#project_home_sidebar .collapsible-box {
	margin-bottom: 1em;
	padding-left: 0.5em;
}

#project_home_sidebar .collapsible-box-header {
	background: #E5ECF9 none repeat scroll 0 0;
	border: #D4DBE8 1px solid;
	color: #1C94C4;
}

#project_home_sidebar .collapsible-box-list {
	padding-left: 1.8em;
	margin-left: 0;
	line-height: 1.5em;
}

#project_home_sidebar .collapsible-box-table {
	line-height: 1.5em;
	border-collapse: collapse;
}

#project_home_sidebar_log_all_button {
	color: #1C94C4;
}

#project_home_sidebar_log_table td {
	padding-left: 0.5em;
}

#project_home_sidebar_log_table tr.odd {
	background-color: #bbccef;
}

#project_home_sidebar_log_table tr.odd td.date {
	width: 1%;
	white-space: nowrap;
}

#project_home_sidebar_log_table tr.odd td.object {
	white-space: nowrap;
}

#project_home_sidebar_log_table tr.even {
	background-color: inherit;
}

#project_home_sidebar_log_table tr.even td.details .description {
	font-style: italic;
}

#project_home_sidebar_log_table tr.even td.details pre.message {
	border: 0;
	margin: 1px;
	background-color: inherit;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
}

/*----------------------------------------------- 
 * project file edit view 
 *-----------------------------------------------*/
#project_edit_mainarea_description {
	width: 100%;
}

#project_edit_mainarea_members {
	width: 100%;
}

/*----------------------------------------------- 
 * project catalog view 
 *-----------------------------------------------*/
#project_catalog_mainarea_result {
	overflow: auto;
}

#project_catalog_mainarea_result_list {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0;
	margin-bottom: 0;
	padding: 1em;
	white-space: nowrap;
	line-height: 1.5em;
}

#project_catalog_mainarea_result_pages {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#project_catalog_mainarea_search_form {
	margin-top: 1em;
}

#project_catalog_mainarea_search_form .ui-accordion-header {
	/* trying to emulate infostrip with the header of a jquery-ui's accordion widget */
	background: #E5ECF9 none repeat scroll 0 0;
	border: #D4DBE8 1px solid;
}

#project_catalog_mainarea_search_form form {
	line-height: 2.5em;
}

#project_catalog_mainarea_total_projects_holder  {
	position: absolute;
	right: 1em;
	font-weight: normal;
}
/*----------------------------------------------- 
 * project source folder view 
 *-----------------------------------------------*/
#project_code_folder_sidebar_info pre {
	white-space: pre-wrap;
}

#project_code_folder_mainarea_result {
	overflow: auto;
}

#project_code_folder_mainarea_result_table tr {
	vertical-align: top;
	white-space: nowrap;
}

/*----------------------------------------------- 
 * project source file view 
 *-----------------------------------------------*/
#project_code_file_mainarea_result {
	position: relative;
}

#project_code_file_mainarea_result_pre {
	/* make it the same as font-size of info .title below */
	padding-top: 0.8em;
}

#project_code_file_mainarea_result_info {
	position: absolute;
	top: 0;
	right: 0;
	width: 22em;
}

#project_code_file_mainarea_result_info pre {
	overflow: auto;
	border: 0;
	margin: 0;
	padding: 0;
}

#project_code_file_mainarea_result_info .title {
	background-color: #7777FF;
	border: 0;
	margin: 0;
	font-size: 0.8em;
	text-align: right;	
}

#project_code_file_mainarea_result_info .title a {
	color: white;
	font-size: inherit;
	background-color: inherit;
}

#project_code_file_mainarea_result_info .title a:hover {
	background-color: inherit;
}

/*----------------------------------------------- 
 * project source blame view 
 *-----------------------------------------------*/
#project_code_blame_mainarea_result {
	position: relative;
}

#project_code_blame_mainarea_result_pre {
	/* make it the same as font-size of info .title below */
	padding-top: 0.8em;
}

#project_code_blame_mainarea_result_info {
	position: absolute;
	top: 0;
	right: 0;
	width: 22em;
}

#project_code_blame_mainarea_result_info pre {
	overflow: auto;
	border: 0;
	margin: 0;
	padding: 0;
}

#project_code_blame_mainarea_result_info .title {
	background-color: #7777FF;
	border: 0;
	margin: 0;
	font-size: 0.8em;
	text-align: right;
}

#project_code_blame_mainarea_result_info .title a {
	color: white;
	font-size: inherit;
	background-color: inherit;
}

#project_code_blame_mainarea_result_info .title a:hover {
	background-color: inherit;
}

/*----------------------------------------------- 
 * project source history view 
 *-----------------------------------------------*/
#project_code_history_mainarea_result {
	overflow: auto;
}

#project_code_history_mainarea_result_table tr {
	vertical-align: top;
	white-space: nowrap;
}

#project_code_history_mainarea_result_table_path_list {
	/* the list in the 'paths' column */
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
}

#project_code_history_mainarea_result_table pre {
	border: 0;
	background-color: inherit;
	padding: 0;
	margin: 0;
}

#project_code_history_mainarea_result_table .title {
	font-size: inherit;
	font-weight: inherit;
	font-style: italic;
	text-align: center;
	background-color: #AABBFF;
}

/*----------------------------------------------- 
 * project source revision view 
 *-----------------------------------------------*/

#project_code_revision_mainarea_result {
	overflow: auto;
}

#project_code_revision_mainarea_result_msg {
	border: 0;
	padding: 0;	
	background-color: inherit;
	margin: 0;
	margin-bottom: 1em;
	white-space: pre-wrap;
}

#project_code_revision_mainarea_result_table td.M {
	white-space: nowrap;
	background-image:url(images/page_white_edit.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#project_code_revision_mainarea_result_table td.D {
	white-space: nowrap;
	background-image:url(images/page_white_delete.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#project_code_revision_mainarea_result_table td.A {
	white-space: nowrap;
	background-image:url(images/page_white_add.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#project_code_revision_mainarea_result_table td.R {
	white-space: nowrap;
	background-image:url(images/page_white_add.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#project_code_revision_mainarea_result_sidebar {
	/*overflow: auto;*/
}

#project_code_revision_mainarea_result_sidebar pre {
	overflow: auto;
	border: 0;
	padding: 0;
}

/*----------------------------------------------- 
 * project source diff view 
 *-----------------------------------------------*/
#project_code_diff_mainarea_result {
	overflow: auto;
}

#project_code_diff_mainarea_result_table {
	border: 0;
}

#project_code_diff_mainarea_result_table tr.diff td pre {
	background-color: inherit;
	border: 0;
	margin: 0;
	padding: 0;
}

#project_code_diff_mainarea_result_table tr.diff td.diff {
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#project_code_diff_mainarea_result_table tr.diff td.diffrow {
	font-style: italic;
	font-weight: bold;
}

#project_code_diff_mainarea_result_table tr.diff td.diffadded {
	border:1px solid #cdf0cd;
	background-color:#ddffdd;
	background-image:url(images/bullet_add.png);
	background-repeat:no-repeat;
	background-position: 2px 50%;
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#project_code_diff_mainarea_result_table tr.diff td.diffdeleted {
	border:1px solid #e8d4bc;
	background-color:#f8e4cc;
	background-image:url(images/bullet_delete.png);
	background-position: 2px 50%;
	background-repeat:no-repeat;
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#project_code_diff_mainarea_result_table tr.diff td.diffchanged {
	border:1px solid #f0f0bc;
	background-color:#ffffcc;
	background-image:url(images/bullet_yellow.png);
	background-repeat:no-repeat;
	background-position: 2px 50%;
	padding: 0;
	padding-left:22px;
	margin: 0;
}

/*----------------------------------------------- 
 * project list view 
 *-----------------------------------------------*/
#project_list_mainarea_result {
	background: none;
	border: none;
	background-color: inherit;
	padding: 0;
}

#project_list_mainarea_result ul {
}

#project_list_mainarea_result ul li {
	padding-left: 0.2em;
}

#project_list_mainarea_result_my_projects {
	padding: 0;
}

#project_list_mainarea_result_other_projects {
	padding: 0;
}

#project_list_mainarea_result_my_issues {
	padding: 0;
}
