/*
 * This file contains specific IDs for furthur customization.
 */

/*----------------------------------------------- 
 * user home view 
 *-----------------------------------------------*/
#user_home_mainarea_sidebar {
	width: 25em;
}

#user_home_mainarea_sidebar_svn_commits_table {
	margin: 0;
	padding: 0;
}

#user_home_mainarea_sidebar_svn_commits_table tr.odd {
	background-color: #bbccef;
}

#user_home_mainarea_sidebar_svn_commits_table tr.even {
	background-color: inherit;
}

/*----------------------------------------------- 
 * project home view 
 *-----------------------------------------------*/
#project_home_mainarea_sidebar_svn_commits_table {
	margin: 0;
	padding: 0;
}

#project_home_mainarea_sidebar_svn_commits_table tr.odd {
	background-color: #bbccef;
}

#project_home_mainarea_sidebar_svn_commits_table tr.even {
	background-color: inherit;
}



/*----------------------------------------------- 
 * project file home view 
 *-----------------------------------------------*/
#project_file_home_mainarea_result {
	overflow: auto;
}

#project_file_home_mainarea_result_table tr {
	vertical-align: top;
	white-space: nowrap;
}

/*----------------------------------------------- 
 * project source folder view 
 *-----------------------------------------------*/
#project_source_folder_mainarea_result {
	overflow: auto;
}

#project_source_folder_mainarea_result_table tr {
	vertical-align: top;
	white-space: nowrap;
}

/*----------------------------------------------- 
 * project source file view 
 *-----------------------------------------------*/
#project_source_file_mainarea_result {
	position: relative;
}

#project_source_file_mainarea_result_pre {
	/* make it the same as font-size of info .title below */
	padding-top: 0.8em;
}

#project_source_file_mainarea_result_info {
	position: absolute;
	top: 0;
	right: 0;
	width: 20em;
}

#project_source_file_mainarea_result_info pre {
	overflow: auto;
	border: 0;
	margin: 0;
	padding: 0;
}

#project_source_file_mainarea_result_info .title {
	background-color: #7777FF;
	border: 0;
	margin: 0;
	font-size: 0.8em;
	text-align: right;	
}

#project_source_file_mainarea_result_info .title a {
	color: white;
	font-size: inherit;
	background-color: inherit;
}

#project_source_file_mainarea_result_info .title a:hover {
	background-color: inherit;
}

/*----------------------------------------------- 
 * project source blame view 
 *-----------------------------------------------*/
#project_source_blame_mainarea_result {
	position: relative;
}

#project_source_blame_mainarea_result_pre {
	/* make it the same as font-size of info .title below */
	padding-top: 0.8em;
}

#project_source_blame_mainarea_result_info {
	position: absolute;
	top: 0;
	right: 0;
	width: 20em;
}

#project_source_blame_mainarea_result_info pre {
	overflow: auto;
	border: 0;
	margin: 0;
	padding: 0;
}

#project_source_blame_mainarea_result_info .title {
	background-color: #7777FF;
	border: 0;
	margin: 0;
	font-size: 0.8em;
	text-align: right;	
}

#project_source_blame_mainarea_result_info .title a {
	color: white;
	font-size: inherit;
	background-color: inherit;
}

#project_source_blame_mainarea_result_info .title a:hover {
	background-color: inherit;
}

/*----------------------------------------------- 
 * project source history view 
 *-----------------------------------------------*/
#project_source_history_mainarea_result {
	overflow: auto;
}

#project_source_history_mainarea_result_table tr {
	vertical-align: top;
	white-space: nowrap;
}

#project_source_history_mainarea_result_table_path_list {
	/* the list in the 'paths' column */
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
}

#project_source_history_mainarea_result_table pre {
	border: 0;
	background-color: inherit;
	padding: 0;
	margin: 0;
}

#project_source_history_mainarea_result_table .title {
	font-size: inherit;
	font-weight: inherit;
	font-style: italic;
	text-align: center;
	background-color: #AABBFF;
}

/*----------------------------------------------- 
 * project source revision view 
 *-----------------------------------------------*/

#project_source_revision_mainarea_result {
	overflow: auto;
}

#project_source_revision_mainarea_result_msg {
	border: 0;
	padding: 0;	
	background-color: inherit;
	margin: 0;
	margin-bottom: 1em;
}

#project_source_revision_mainarea_result_table td.M {
	white-space: nowrap;
	background-image:url(images/page_white_edit.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#project_source_revision_mainarea_result_table td.D {
	white-space: nowrap;
	background-image:url(images/page_white_delete.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#project_source_revision_mainarea_result_table td.A {
	white-space: nowrap;
	background-image:url(images/page_white_add.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#project_source_revision_mainarea_result_table td.R {
	white-space: nowrap;
	background-image:url(images/page_white_add.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding-left: 22px;
}

#project_source_revision_mainarea_result_sidebar {
	/*overflow: auto;*/
}

#project_source_revision_mainarea_result_sidebar pre {
	overflow: auto;
	border: 0;
	padding: 0;
}

/*----------------------------------------------- 
 * project source diff view 
 *-----------------------------------------------*/
#project_source_diff_mainarea_result {
	overflow: auto;
}

#project_source_diff_mainarea_result_table {
	border: 0;
}

#project_source_diff_mainarea_result_table tr.diff td pre {
	background-color: inherit;
	border: 0;
	margin: 0;
	padding: 0;
}

#project_source_diff_mainarea_result_table tr.diff td.diff {
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#project_source_diff_mainarea_result_table tr.diff td.diffrow {
	font-style: italic;
	font-weight: bold;
}

#project_source_diff_mainarea_result_table tr.diff td.diffadded {
	border:1px solid #cdf0cd;
	background-color:#ddffdd;
	background-image:url(images/bullet_add.png);
	background-repeat:no-repeat;
	background-position: 2px 50%;
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#project_source_diff_mainarea_result_table tr.diff td.diffdeleted {
	border:1px solid #e8d4bc;
	background-color:#f8e4cc;
	background-image:url(images/bullet_delete.png);
	background-position: 2px 50%;
	background-repeat:no-repeat;
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#project_source_diff_mainarea_result_table tr.diff td.diffchanged {
	border:1px solid #f0f0bc;
	background-color:#ffffcc;
	background-image:url(images/bullet_yellow.png);
	background-repeat:no-repeat;
	background-position: 2px 50%;
	padding: 0;
	padding-left:22px;
	margin: 0;
}

