/*----------------------------------------------- 
 * site home view 
 *-----------------------------------------------*/
#site_home_mainarea_sidebar {
	width: 24em;
}

#site_home_mainarea_sidebar_log_table {
	border-collapse: collapse;
}

#site_home_mainarea_sidebar_log_table tr.odd {
	background-color: #bbccef;
}

#site_home_mainarea_sidebar_log_table tr.odd td.date {
	width: 1%;
	white-space: nowrap;
}

#site_home_mainarea_sidebar_log_table tr.odd td.project {
	width: 1%;
	white-space: nowrap;
}

#site_home_mainarea_sidebar_log_table tr.odd td.object {
	white-space: nowrap;
}

#site_home_mainarea_sidebar_log_table tr.even {
	background-color: inherit;
}

#site_home_mainarea_sidebar_log_table tr.even td.details .description {
	font-style: italic;
}

#site_home_mainarea_sidebar_log_table tr.even td.details pre.message {
	border: 0;
	margin: 1px;
	background-color: inherit; 
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap; 
	white-space: pre-wrap;
}

#site_home_mainarea_result_open_issues_list {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0;
	margin-bottom: 0;
	padding: 1em;
	line-height: 1.5em;
}

#site_home_mainarea_result_resolved_issues_list {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0;
	margin-bottom: 0;
	padding: 1em;
	line-height: 1.5em;
}
/*----------------------------------------------- 
 * site show view 
 *-----------------------------------------------*/
#site_show_mainarea_text p.wiki {
	overflow: auto;
}

#site_show_mainarea_text img {
	max-width: 100%;
}

/*----------------------------------------------- 
 * site edit view 
 *-----------------------------------------------*/
#site_edit_form .text {
	width: 100%;
}

