/*----------------------------------------------- 
 * site home view 
 *-----------------------------------------------*/
#site_home_sidebar {
	width: 24em;
}

#site_home_sidebar_log_all_button {
	color: #1C94C4;
}

#site_home_sidebar_log_table td {
}

#site_home_sidebar_log_table tr.odd {
	background-color: #bbccef;
}

#site_home_sidebar_log_table tr.odd td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#site_home_sidebar_log_table tr.odd td.date {
	white-space: nowrap;
}

#site_home_sidebar_log_table tr.odd td.project {
	white-space: nowrap;
}

#site_home_sidebar_log_table tr.odd td.object {
	white-space: nowrap;
}

#site_home_sidebar_log_table tr.even {
	background-color: inherit;
	padding-top: 2px;
	padding-bottom: 2px;
}

#site_home_sidebar_log_table tr.even td.details {
	padding-left: 2em;
}

#site_home_sidebar_log_table tr.even td.details .description {
	font-style: italic;
}

#site_home_sidebar_log_table tr.even td.details pre.message {
	border: 0;
	margin: 1px;
	background-color: inherit; 
}

/*----------------------------------------------- 
 * site show view 
 *-----------------------------------------------*/
#site_show_mainarea_text p.wiki {
	overflow: auto;
}

#site_show_mainarea_text img {
	max-width: 100%;
}

/*----------------------------------------------- 
 * site edit view 
 *-----------------------------------------------*/
#site_edit_form .text {
	width: 100%;
}

