
/*----------------------------------------------- 
 * websvn source folder view 
 *-----------------------------------------------*/
#websvn_folder_mainarea_result {
	overflow: auto;
}

#websvn_folder_mainarea_result_table {
	border: 0;
	border-collapse: collapse;
	vertical-align: top;
}

#websvn_folder_mainarea_result_table tr {
	border: 0;
	margin: 0;	
	padding: 0;	
	white-space: nowrap;
}

#websvn_folder_mainarea_result_table tr td {
	margin: 0;	
	padding: 0;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

/*----------------------------------------------- 
 * websvn source diff view 
 *-----------------------------------------------*/
#websvn_diff_mainarea_result {
	overflow: auto;
}

#websvn_diff_mainarea_result_table {
	border: 0;
}

#websvn_diff_mainarea_result_table tr.diff pre {
	background-color: inherit;
	border: 0;
	margin: 0;
	padding: 0;
}

#websvn_diff_mainarea_result_table tr.diff td.diff {
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#websvn_diff_mainarea_result_table tr.diff td.diffrow {
	font-style: italic;
	font-weight: bold;
}

#websvn_diff_mainarea_result_table tr.diff td.diffadded {
	border:1px solid #cdf0cd;
	background-color:#ddffdd;
	background-image:url(images/bullet_add.png);
	background-repeat:no-repeat;
	background-position:2px 50%;
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#websvn_diff_mainarea_result_table tr.diff td.diffdeleted {
	border:1px solid #e8d4bc;
	background-color:#f8e4cc;
	background-image:url(images/bullet_delete.png);
	background-position:2px 50%;
	background-repeat:no-repeat;
	padding: 0;
	padding-left:22px;
	margin: 0;
}

#websvn_diff_mainarea_result_table tr.diff td.diffchanged {
	border:1px solid #f0f0bc;
	background-color:#ffffcc;
	background-image:url(images/bullet_yellow.png);
	background-repeat:no-repeat;
	background-position:2px 50%;
	padding: 0;
	padding-left:22px;
	margin: 0;
}

