/*---------------------------------------------
 * wiki show
 *---------------------------------------------*/

#wiki_show_mainarea_result {
	position: relative;
	min-height: 13em;

	-moz-column-rule: 1px dotted grey;
	-webkit-column-rule: 1px dotted grey;
	column-rule: 1px dotted grey;

	-moz-column-gap: 2em;
	-webkit-column-gap: 2em;
	column-gap: 2em;
}

#wiki_show_mainarea_result_info {
	position: absolute;
	top: 5px;
	right: 2px;
	width: 22em;
	background: #E5ECF9 none repeat scroll 0 0;
	border: #D4DBE8 1px solid;
	overflow: auto;
	padding: 0.2em 0.4em 0.2em 0.4em;
	font-size: 0.9em;
}

#wiki_show_mainarea_result_info ul {
	padding-left: 2em;
}

#wiki_show_mainarea_result_info .title {
	background-color: #8888FF;
	color: #FFFFFF;
	border: #D4DBE8 1px solid;
	margin: 0.3em 0 0.3em 0;
	padding: 0.1em 0.1em 0.1em 0.1em;
	font-size: inherit;
	text-transform: uppercase;
}

/*---------------------------------------------
 * wiki edit
 *---------------------------------------------*/
#wiki_edit_mainarea_form {
	border: #D4DBE8 1px solid;
	padding: 0.5em;
}

#wiki_edit_mainarea_text {
	width: 100%;
}

#wiki_edit_mainarea_text_preview {
	-moz-column-rule: 1px dotted grey;
	-webkit-column-rule: 1px dotted grey;
	column-rule: 1px dotted grey;

	-moz-column-gap: 2em;
	-webkit-column-gap: 2em;
	column-gap: 2em;
}

