/*---------------------------------------------
 * wiki
 *---------------------------------------------*/

#wiki_home_result,
#wiki_show_result {
	position: relative;
	overflow: auto;
	margin: 0.2em 0 0.2em 0;
	width: 100%;
}

#wiki_show_result pre {
	white-space: pre-wrap !important;
}

#wiki_show_result table
{
	border-collapse: collapse;
}

#wiki_show_result table td {
	border: 1px solid #E0E0E0;
}

#wiki_edit_result {
	position: relative;
	overflow: visible !important;
	margin: 0.2em 0 0.2em 0;
	width: 100%;
}

#wiki_edit_toolbar {
	position: relative;
	overflow: visible !important;
	width: 100%;
	margin: 0.2em 0 0 0;
	padding: 0;
}

#wiki_edit_toolbar .medium-editor-toolbar {
	visibility: visible !important;
	line-height: 2em;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin: 0;
	padding: 0;
}


#wiki_show_wiki {
	margin-top: 0.5em;

	-moz-column-rule: 1px dotted grey;
	-webkit-column-rule: 1px dotted grey;
	column-rule: 1px dotted grey;

	-moz-column-gap: 2em;
	-webkit-column-gap: 2em;
	column-gap: 2em;
}

#wiki_show_metadata_body,
#wiki_edit_files_body {
	background-color: #FCFCFC;
	margin: 0 !important;
	padding: 0.5em 0.5em 0.5em 0.5em !important;
}

/*
#wiki_show_file_list a,
*/

#wiki_show_metadata_list,
#wiki_show_file_list,
#wiki_edit_file_list,
#wiki_edit_add_file_list {
	padding: 0 !important;
	margin: 0 0 0.5em 0 !important;
	list-style: outside none none !important;
	clear: both;
}

#wiki_show_metadata_list li {
	padding: 0.2em 0.2em 0.2em 0.2em !important;
	margin: 0em 0.2em 0.4em 0.2em !important;
	float: left !important;
	background-color: #EAEAEA !important;
	color: #000000 !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#wiki_show_file_list li,
#wiki_edit_file_list li {
	padding: 0.2em 0.2em 0.2em 0.2em !important;
	margin: 0em 0.2em 0.4em 0.2em !important;
	float: left !important;
	/*background-color: #44AD8E !important;*/
	background-color: #015067 !important;
	color: #FFFFFF !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#wiki_show_file_list a, 
#wiki_show_file_list a:visited,
#wiki_show_file_list a:focus,
#wiki_edit_file_list a, 
#wiki_edit_file_list a:visited,
#wiki_edit_file_list a:focus {
	text-decoration: none;
	color: #FFFFFF;
}

#wiki_show_file_list a:hover,
#wiki_edit_file_list a:hover {
	color: #90AACC;
}

#wiki_edit_add_file_list li {
	padding: 0.2em 0.2em 0.2em 0.2em !important;
	margin: 0em 0.2em 0.4em 0.2em !important;
	float: left !important;
	background-color: #994044 !important;
	color: #FFFFFF !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#wiki_edit_file_list .fa,
#wiki_edit_add_file_list .fa {
	color: #FFFFFF !important;
}

#wiki_edit_text_area,
#wiki_edit_text_editor {
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
	border: none !important;
	background-color: #F9F9F9 !important;
	overflow-y: auto !important;
	overflow-x: visible !important;
	outline: none !important;
}

#wiki_edit_text_editor pre {
	white-space: pre-wrap !important;
}

